* {
  margin: 0px;
  padding: 0;
}

.background {
  height: 700px;
  width: 100%;
  /* position: absolute; */
}

.logo {
  position: absolute;
  height: 40px;
  width: 225px;
  left: 62px;
  top: 18px;
}

.buttons {
  position: absolute;
  top: 35px;
  right: 69px;
}

.buttons a {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.navButton {
  width: 40px;
  height: 22px;
  font-family: "Graphik";
  font-size: 16px;
  color: #ffffff;
}

.firstParagraph {
  position: absolute;
  left: 63px;
  top: 352px;
  font-family: "NEXT Pan Book";
  font-weight: 300;
  font-size: 72px;
  color: #ffffff;
}

.secondParagraph {
  position: absolute;
  left: 63px;
  top: 538px;
  font-family: "NEXT Pan Book";
  font-weight: 300;
  font-size: 50px;
  color: #ffffff;
}

.textOrange {
  color: rgb(239, 123, 81);
}

.vector {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 63px;
  top: 575px;
}

.intro {
  margin: 64px 0 16px 0;
  max-width: 614px;
  width: 100%;
}

.title {
  color: #f77a5a;
  border-top: 1px solid #f77a5a;
  width: max-content;
  padding-top: 8px;
}

.portfolio-founders {
  font-family: "NEXT Pan Book";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #4a4a4a;
  padding-top: 16px;
}

.portfolio-right-img {
  margin-left: 26px;
  margin-bottom: 30px;
}

.intro-text {
  color: #858585;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 30px;
  /* padding-top: 16px; */
}

.portfolio-img {
  margin-bottom: 27px;
}

.text-row {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.visitBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;
  width: 168px;
  height: 34px;
  background: linear-gradient(118.59deg, #ef4e40 0%, #f77a5a 100%);
  border-radius: 40px;
  border: 0;
  color: white;
  margin: auto;
  margin-top: 33px;
}
